games/*
start-states/*
shuffler-src/config.lua
shuffler-src/.cmd-output.txt
message.log

# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Editor settings
.vscode/
/.vs/bizhawk-shuffler-2-phiggle-fork/FileContentIndex/7f04c4cc-314b-49f4-a49b-a9c95ac78eaa.vsidx
/.gitignore
/.vs/bizhawk-shuffler-2-phiggle-fork/FileContentIndex
/.vs/bizhawk-shuffler-2-phiggle-fork/FileContentIndex/d1105c60-ccf0-4860-b3ae-217ac7d99b9b.vsidx
/.vs/bizhawk-shuffler-2-phiggle-fork/v17
/.vs/bizhawk-shuffler-2-phiggle-fork/v17/.wsuo
/.vs/bizhawk-shuffler-2-phiggle-fork/v17/DocumentLayout.backup.json
/.vs/bizhawk-shuffler-2-phiggle-fork/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.gitignore
/.gitignore
